# OS X junk
.DS_Store
.vscode/*

# Various
.eggs/
latviz.egg-info/

# Various dev files
requirements-*.txt
init_env.sh

# Visit log
visitlog.py

# Temporary folders
a/*
c/*

# Scratch and prototyping
scratch

# Input folders
input/*

# Picture files
*.png
*.gif

# Python binaries
*.pyc

# Sublime project files
*.sublime-*

# Animation folder
animations/
animation_*
array_source.py.bak
configurations_data

# Data
old_data

# Virtual env
venv*
