apptools==4.4.0
click==8.0.1
configobj==5.0.6
envisage==4.7.1
importlib-metadata==4.6.1
mayavi==4.6.2
numpy==1.19.5
pyface==6.0.0
Pygments==2.3.1
six==1.12.0
tqdm==4.61.2
traits==5.1.0
traitsui==6.0.0
typing-extensions==3.10.0.0
vtk==8.1.2
zipp==3.5.0
